@import "styles/main.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $darkColor;
  box-shadow: 0 2px 4px $darkColor;
}
.container:hover {
  background-color: $foregroundColor;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: $darkColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $fontColor;
  font-weight: bold;
}

.avatarContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.name {
  color: $fontColor;
  font-weight: 1.2rem;
}

.lastMessage {
  color: rgb(176, 176, 176);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  width: 10%;
  color: $fontColor;
}

@media (max-width: 767px) {
  .info {
    display: none;
  }

  .date {
    display: none;
  }
}
