@import "styles/main.scss";

.sentContainer {
  display: flex;
  align-items: center;
  width: 80%;
}

.sentText {
  display: flex;
  background-color: rgb(40, 40, 40);
  padding: $smallSpace $mediumSpace $smallSpace $mediumSpace;
  color: $fontColor;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.receivedContainer {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.receivedText {
  display: flex;
  justify-content: flex-end;
  padding: $smallSpace $mediumSpace $smallSpace $mediumSpace;
  background-color: rgb(113, 110, 115);
  color: $fontColor;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $darkColor;
  color: $fontColor;
  font-weight: bold;
}
