@import "styles/main.scss";

.header {
  display: flex;
  align-items: center;
  padding-left: $mediumSpace;
  height: 8vh;
  width: 100%;
  background-color: $backgroundColor;
  box-shadow: 0 2px 4px $darkColor;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $darkColor;
  color: #fff;
  font-weight: bold;
}

.name {
  font-weight: bold;
  color: #fff;
}
