
.inputContainer {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
}

.textInput {
  border: none;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.textInput[type="text"]:focus {
  color: black;
}

.submitButton {
  border: none;
  background-color:rgb(40, 40, 40);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
