@import "styles/main.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100wh;
  background-color: $backgroundColor;
}

.loginContainer {
  background-color: $darkColor;
  padding: 20px;
  width: 30vw;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $fontColor;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .loginContainer {
    width: 80vw;
  }
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: $inputColor;
  border: none;
  border-radius: 4px;
  outline: none;
}

.button {
  width: 100%;
  background-color: rgb(107, 102, 102);
  color: $fontColor;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0;
  cursor: pointer;
}
