@import "styles/main.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100wh;
  background-color: $backgroundColor;
}

.loginContainer {
  background-color: $darkColor;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 30vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;

  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
  }

  button {
    width: 100%;
    background-color: rgb(107, 102, 102);
    color: $fontColor;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
  }

  h1 {
    color: $fontColor;
    margin-bottom: 10px;
  }
}
